body {
  background: radial-gradient(red, purple, brown);
  color: #996633;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
td {
  background-image: url(https://m.popkey.co/b68ad6/87g6e.gif);
}

body > div {
  width: 80%;
}
* {
  box-shadow: 10px 10px 10px #888888;
  text-shadow: 10px 10px 10px #a3c00f;
}
.uglyImageOne {
  width: 120%;
  height: 30%;
}

img {
  transition: all 0.3s ease-in-out 0s;
}

img:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}
