body {
  font-family: Helvetica, Arial, sans-serif;
}

#site_header{
  background: orange;
}

#logo{
  margin-bottom: 100px;
}

.main_navigation a{
  text-decoration: none;
  color: white;
}

td {
  background-image: url(https://m.popkey.co/b68ad6/87g6e.gif);
}

body > div {
  width: 80%;
}
* {
  box-shadow: 10px 10px 10px #888888;
  text-shadow: 10px 10px 10px #a3c00f;
}
.uglyImageOne {
  width: 120%;
  height: 30%;
}

img {
  transition: all 0.3s ease-in-out 0s;
}

img:hover {
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.3s ease-in-out 0s;
}
