body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 5%;
  background: grey;
}

#site_header{
  background: orange;
}

#logo{
  margin-bottom: 100px;
}

.main_navigation a{
  text-decoration: none;
  color: white;
}

#page_content{
  margin: 0 auto;
  background: white;
}

section{
  border-bottom: 3px solid gray;
}
